html {
  font-size: 20px;
  font-family: 'Akaya Telivigala', serif;
}
body {
  background: url(../img/background/1.jpg) fixed;
}
header {
  text-align: center;
  width: 75%;
  margin: auto;
}
.group {
  width: 75%;
  margin: auto;
  background-color: rgb(139, 204, 43);
  box-shadow: 1px 1px 15px 15px rgb(139, 204, 43);
}
.def {
  background-color: rgb(0, 204, 255);
  box-shadow: 1px 1px 8px 8px rgb(0, 204, 255);
}
.title {
  font-size: 50px;
  font-weight: bold;
  background-color: rgb(0, 204, 255);
  box-shadow: 1px 1px 8px 8px rgb(0, 204, 255);
}
.subtitle {
  font-size: 35px;
  font-weight: bold;
  background-color: rgb(0, 204, 255);
  box-shadow: 1px 1px 8px 8px rgb(0, 204, 255);
}
.subsubtitle {
  font-size: 25px;
  padding: 0 15px 0 15px;
  font-weight: bold;
}
section header {
  padding-bottom: 25px;
}
.substrat {
  display: flex;
  flex-flow: row wrap;
}
.group {
  display: flex;
  padding: 10px 0 0 10px;
}
hr {
border: double rgba(0,0,0);
text-align: center;
height: 5px;
width: 100%;
}